:root {
  --main-text-font: 'Montserrat', sans-serif;
  --main-text-color: #333333;
  --orange-button-main-text-color: #ffffff;
  --orange-button-background-color: #ff9900;
  --main-text-color-on-dark-background: #ffffff;
  --main-grey-tone: #cacaca;
  --amount-main-menu-items: 5;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
fieldset {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1770px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: var(--orange-button-main-text-color);
  background-color: var(--orange-button-background-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.h2 {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: var(--main-text-color);
}

.h3 {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-text-color);
}

.p {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
}

.section:not(:last-child) {
  padding-bottom: 50px;
}

.section:not(:first-child) {
  padding-top: 50px;
}

.section:last-child {
  margin-bottom: 100px;
}

/*header*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding-left: 70px;/*pixel perfect*/
  padding-right: 63px;/*pixel perfect*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__flex-item {}

.header__logo {
  margin-right: auto;/*730px*/
  margin-bottom: -4px;/*pixel perfect*/
}

.header__logo .header__link,
.header__logo .header__link:hover,
.header__logo .header__link:active,
.header__logo .header__link:focus-visible {
  border: none;
  outline: none;
}

.header__logo .header__link:focus {
  outline: 2px solid var(--orange-button-background-color);
  outline-offset: 5px;
}

.header__nav {
  flex-basis: calc(100% / 2);
  padding-left: 68px;/*pixel perfect*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 86px;
  flex-grow: 1;
}

.header__list-item {
  max-width: calc(100% / var(--amount-main-menu-items));
}

.header__link {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: var(--main-text-color);
  outline: none;
  border: none;
  transition-property: border-bottom outline color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  word-break: break-all;
}

.header__link:hover {
  border-bottom: 2px solid var(--orange-button-background-color);  
}

.header__link:focus-visible {
  outline: 2px solid var(--orange-button-background-color);
  outline-offset: 5px;
}

.header__link:active {
  border-bottom: 2px solid #E1670E;
  color: #E1670E;
}

.header__search-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: outline .3s ease-in-out .2s;
}

.header__search-button rect {
  transition: fill .3s ease-in-out .2s;
}

.header__search-button path {
  transition: stroke .3s ease-in-out .2s;
}

.header__search-button:hover rect {
  fill: var(--orange-button-background-color);
}

.header__search-button:hover path {
  stroke: var(--orange-button-background-color);
}

.header__search-button:focus-visible {
  outline: 2px solid var(--orange-button-background-color);
  outline-offset: 5px;
}

.header__search-button:active rect{
  fill: var(--orange-button-background-color);
}

.header__search-button:active path{
  stroke: var(--orange-button-background-color);
}

/*hero*/

.hero__slider {
  background-image: url('../img/low-angle-photo-of-balconies.jpg');
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 620px;
  max-width: calc(1920px - 2 * 75px);
  padding: 100px 80px 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__h2 {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
  color: var(--main-text-color-on-dark-background);
  width: 837px;
  margin-bottom: 24px;
}

.hero__p {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--main-text-color-on-dark-background);
  width: 790px;
  margin-bottom: 90px;
}

.hero__button {
  padding: 25px 39px;
  max-width: 837px;
  justify-self: flex-end;
  outline: none;
  transition: background-color .3s ease-in-out .2s;
}

.hero__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:focus-visible {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background-color: #E1670E;
}

.hero__slider-bar {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.hero__slider-item {
  cursor: pointer;
  margin-bottom: -3px;
}

.hero__slider-item:not(:last-child) {
  margin-right: 20px;
}


/* about*/

.about {
  padding-top: 9px;/*pixel perfect*/
}

.about__h2 {
  margin-bottom: 20px;
  text-indent: 3px; /*pixelPerfect*/
}

.about__p {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__articles-block {
  display: flex;
  justify-content: space-between;
}

.about__article-left {
  background-image: url('../img/builder_with_hammer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc((100% - 32px) / 2);
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
}

.about__articles-right-block {
  width: calc((100% - 32px) / 2);
  min-height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__article-right {
  min-height: 295px/*calc((100% - 32px) / 2)*/;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 58px;/*pixel perfect*/
  background-position-y: 65px;/*pixel perfect*/
  background-size: 193px 164px;/*pixel perfect*/
  padding: 65px 50px 65px 300px;/*pixel perfect*/
  background-color: #FFFFFF;
  border: 1px solid var(--main-grey-tone);
  box-sizing: border-box;
}

.about__article-right:first-child {
  margin-bottom: 32px;
}

.about__consulting {
  background-image: url('../img/consulting.svg');
}

.about__aspiration {
  background-image: url('../img/aspiration_to_raise_up.svg');
}

.about__h3 {
  margin-bottom: 8px;
  max-width: 452px;
  line-height: 28px;/*pixel perfect*/
}

.about__article-p {
  max-width: 450px;
}

.about__article-left .about__article-p {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color-on-dark-background);
  max-width: 454px;
}

.about__article-div {
  display: flex;
  min-height: 196px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  flex-grow: 2;
  background: rgba(0, 0, 0, 0.5);
}

.about__button {
  border: 3px solid #FF9900;
  box-sizing: border-box;
  background: transparent;
  padding: 20px 35px 20px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  transition: background-color .3s ease-in-out .2s, border .3s ease-in .2s, outline .3s ease-out .2s;
  max-width: 30%;
  word-break: break-all;
}

.about__button:hover {
  background-color: var(--orange-button-background-color);
  border: none;
  outline: none;
}

.about__button:focus-visible {
  background-color: var(--orange-button-background-color);
  border: none;
  outline: none;
}

.about__button:active {
  background-color: #E1670E;
  border: none;
  outline: none;
}

/* how */

.how {
  
}

.how__h2 {
  margin-bottom: 50px;
}

.how__steps-nav {
  margin-bottom: 45px;
}

.how__steps-list {
  display: flex;
}

.how__steps-item {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-text-color);
  max-width: 10%;
  word-break: break-all;
}

.how__steps-item:not(:last-child) {
  margin-right: 86px;
}

.how__steps-list-selected {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E1670E;
}

.how__step-link {
  outline: none;
  transition: color .3s ease-in-out .2s, outline .3s ease-in-out .2s;
}

.how__step-link:hover {
  color: var(--orange-button-background-color);
}

.how__step-link:focus-visible {
  outline: 1px solid var(--orange-button-background-color);
  color: var(--main-text-color);
}

.how__step-link:active {
  color: #E1670E;
}

.how__cards-item {
  position: relative;
  min-height: 460px;
}

.how__cards-item:before {
  content: "";
  position: absolute;
  width: 49%;
  bottom: 0;
  right: 0;
  top: 0;
  background-size: cover;
  background-position-x: -16px;/*pixel perfect*/
  background-position-y: 11px;/*pixel perfect*/
  background-repeat: no-repeat;
}

.how__card1:before {
  background-image: url('../img/consulting.jpg');
}

.how__card2:before {
  background-image: url('../img/estimate.jpg');
}

.how__card3:before {
  background-image: url('../img/hire.jpg');
}

.how__card4:before {
  background-image: url('../img/inspect.jpg');
}


.how__card-description {
  max-width: 758px;
}

.how__h3 {
  margin-bottom: 8px;
}

.how__p {
  margin-bottom: 50px;
}

.how__artefact { 
/*only to implement pixel perfect*/
  padding-left: 4px;
}

.how__block-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.how__button,
.how__button-grey {
  font-size: 16px;
  line-height: 20px;
  max-width: 40%;
  word-break: break-all;
}

.how__button {
  padding: 20px 38px;
  margin-right: 32px;
  transition: background-color .3s ease-in-out;
}

.how__button:hover {
  background-color:  #F7B045;
}

.how__button:focus-visible {
  background-color: #F7B045;
}

.how__button:active {
  background-color: #E1670E;
}

.how__button-grey {
  padding: 19px 36px;
  border: 1px solid var(--main-text-color);
  box-sizing: border-box;
  background-color: transparent;
  color: var(--main-text-color);
  outline: none;
  transition: background-color .3s ease-in-out .2s, border .3s ease-in-out .2s;
}

.how__button-grey:hover {
  background-color: #666666;
  border: none;
}

.how__button-grey:focus-visible {
  background-color: #666666;
  border: none;
}

.how__button-grey:active {
  background-color: #000000;
  border: none;
}

/*faq*/

.faq {}

.faq__h2 {
  margin-bottom: 32px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.faq__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid var(--main-grey-tone);
  border-bottom: 1px solid var(--main-grey-tone);
  cursor: pointer;
  transition: border-color .3s ease-in-out;
}

.faq__h3 {
  max-width: 80%;
  word-break: break-all;
}

.faq__list-item:hover,
.faq__list-item:focus {
  border-color: var(--orange-button-background-color);
  z-index: 2;
}

.faq__list-item .faq__h3,
.faq__list-item .faq__grey {
  transition: color .3s ease-in-out;
}

.faq__list-item:hover .faq__h3,
.faq__list-item:focus .faq__h3,
.faq__list-item:hover .faq__grey,
.faq__list-item:focus .faq__grey {
  color: var(--orange-button-background-color);
}

.faq__list-item ellipse,
.faq__list-item path
 {
  transition: fill .3s ease-in-out;
}

.faq__list-item:hover ellipse,
.faq__list-item:focus ellipse {
  fill: var(--orange-button-background-color);
}

.faq__list-item:hover path,
.faq__list-item:focus path {
  fill: var(--orange-button-main-text-color);
}

.faq__list-item:active {
  border-color: var(--main-grey-tone);
}

.faq__list-item svg {
  transition: transform .3s ease-in-out;
}

.faq__list-item:active svg {
  transform: rotate(45deg);
}

.faq__list-item:active path {
  fill: #666666;
}

.faq__list-item:active ellipse {
  fill: #ececec;
}

.faq__list-item:active .faq__h3 {
  color: var(--main-text-color);
}

.faq__list-item:active .faq__grey {
  color: var(--main-grey-tone);
}


.faq__list-item:not(:last-child) {
  margin-bottom: -1px;
}

.faq__grey {
  font: inherit;
  color: var(--main-grey-tone);
}


/*footer*/

.footer {
  background-color: #222222;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 50px 75px;
}

.footer__column-left {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  max-width: calc(90vw / 3);
  word-break: break-all;
}

.footer__column-center {
  min-height: 494px;
  min-width: 570px;
  margin-right: -115px;
  max-width: calc(90vw / 3);
  word-break: break-all;
}

.footer__column-right {
  padding-top: 87px;
  flex-basis: 363px;
  margin-right: -18px;
  max-width: calc(90vw / 3);
  word-break: break-all;
}

.footer__logo {
  content: '';
  background-image: url('../img/Logo_footer.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 225px;
  height: 72px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__nav {
  
}

.footer__menu {
  min-height: calc(7 * 36px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  cursor: pointer;
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--main-grey-tone);
  transition: color .3s ease-in-out .2s, outline .3s ease-in-out .2s, background-color .3s ease-in-out .2s;
  outline: none;
  outline-offset: 5px;
}

.footer__link:hover {
  color: var(--orange-button-background-color);
}

.footer__link:focus-visible {
  outline: 1px solid var(--orange-button-background-color);
}

.footer__link:active {
  background-color: #E1670E;
  ;
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 2;
  margin-bottom: -3px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-link {
  outline: none;
  transition: outline .3s ease-in-out .2s, transform .3s ease-in-out;
  outline-offset: 5px;
}

.footer__social-link path{
  transition: fill .3s ease-in-out .3s;
}

.footer__social-link:hover path{
  fill: var(--orange-button-background-color);
}

.footer__social-link:focus-visible{
  outline: 2px solid var(--orange-button-background-color);
}

.footer__social-link:active path{
  fill: #E1670E;
}

.footer__social-link:hover,
.footer__social-link:focus-visible,
.footer__social-link:active {
  transform: scale(1.2);
}

.footer__social-link:hover svg,
.footer__social-link:focus-visible svg,
.footer__social-link:active svg{
  transform: scale(1.2);
}

.footer__form {
  min-width: 494px;
}

.footer__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
}

.footer__legend {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--main-grey-tone);
  margin-bottom: 25px;
  border: none;
  outline: none;
}

.footer__input-name,
.footer__input-email,
.footer__comment {
  width: 100%;
  padding: 14px 24px;
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-grey-tone);
  margin-bottom: 25px;
  background-color: #414141;
  transition: background-color .3s ease-in-out .2s;
}

.footer__input-name:hover,
.footer__input-email:hover,
.footer__comment:hover,
.footer__input-name:focus-visible,
.footer__input-email:focus-visible,
.footer__comment:focus-visible,
.footer__input-name:active,
.footer__input-email:active,
.footer__comment:active   {
  background-color: #666666;
} 

.footer__comment {
  min-height: 150px;
  margin-bottom: 32px;
}

.footer__send-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__button {
  padding: 19px 52px;
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--orange-button-main-text-color);
  transition: background-color .3s ease-in-out .2s;
}

.footer__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__button:focus-visible {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__button:active {
  background-color: #E1670E;
}

.footer__fieldset-agreement {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0;
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-grey-tone);
  margin-right: 2px;
  
}

.footer__agreement {
  border: 2px solid #97EE3F;
  color: #97EE3F;
  box-sizing: border-box;
  margin-right: 4px;
}

.footer__label,
.footer__agreement {
  cursor: pointer;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.footer__p {
  flex-basis: 363px;
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: var(--main-grey-tone);
}